<footer>

  <hr class="special1">
    <h1 class="text-center"><img src="/assets/images/logo.png" alt="logo"></h1>
<div class="container-fluid">

  <div class="info">
      <h4>information</h4>
      <hr class="special">

      <p class="text-center mb-4 pgmail">
        <a href=""><img src="/assets/images/gmail.png" alt="gmail"></a>
        tatosarjveladzeoff@gmail.com
      </p>

      <p class="text-center mb-4">
        <a  class="linkedinRelative" href="
        https://www.linkedin.com/in/tato-sarjveladze-041415271/
        " target="_blank"><img src="/assets/images/linkedin.png" alt="github">LinkedIn profile</a>
      </p>

      <p class="text-center">
        <a  class="githubRelative" href="
        https://github.com/Tato2002
        " target="_blank"><img src="/assets/images/github.png" alt="github">Github profile</a>
      </p>

  </div>

  <div class="about">
    <div class="innerabout">
      <p>This website is a platform for ideas. There are a lot of people with brilliant ideas who can't make their ideas happen because they don't have the financial means to do it and there are also a lot of people who have the financial means and are looking for a purpose... this platform is the solution! We connect authors of genius ideas with potential investors.</p>
    </div>
</div>
</div>
  <p class="text-center rights">©TatoSarjve All rights reserved</p>
<hr class="special2">

</footer>
