.container {
  display: flex;
  flex-wrap: wrap;
}
.CardIdea {
  margin-top: 120px;
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  }
   .CardIdea .flex form {
    width: 250px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    background-color: rgb(106, 90, 205, 0.25);;
  }
   .CardIdea .flex form img{
    width: 100%;
  }

   .CardIdea .flex form .text {
    padding: 0 20px 20px;
    height: 250px;
    color: white;
  }
  .CardIdea .flex form .text input {
    width: 200px;
    font-size: 17px;
  }

  .CardIdea .flex form .text h4 {
    background-color: rgba(153, 68, 232, 0.234);

  }

  @media only screen and (max-width:301px) {
    .CardIdea {
      outline: unset;
      outline-offset: unset;
      padding: 5px 0px;
      border: none;
      }
      .CardIdea .flex form{
        border-radius: 4px;
      }
  }
/* ////////////////////////////////////////////////////////////////// */

.CardIdea2 {
  margin-top: 120px;
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  }
  .CardIdea2 textarea {
    overflow: hidden;
  }
.CardIdea2 .flex article {
  height: 533px;
    width: 250px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    background-color: rgb(106, 90, 205, 0.25);;
  }
   .CardIdea2 .flex article img{
    width: 100%;
  }

  .CardIdea2 .flex article button {
      margin:0px 5px;
      margin-bottom: 5px;
  }


   .CardIdea2 .flex article .text {
    padding: 0 20px 20px;
    color: white;
  }

  .CardIdea2 .flex article .text h4 {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190622/ourmid/pngtree-g20-summit-simple-business-background-image_232743.jpg');
    background-size: contain;
    background-position: center;
    padding: 10px;
    background-size: cover;
  }
  .CardIdea2 .flex article .text p {
    width: 100%;
    height: 60px;
    overflow: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media only screen and (max-width:301px) {
    .CardIdea2 {
      outline: unset;
      outline-offset: unset;
      padding: 5px 0px;
      border: none;
      }
      .CardIdea2 .flex article{
        border-radius: 4px;
      }
  }
