<div class="container-fluid" *ngIf="!isLoginMode">

    <div class="col-xs-6 text-center bg-dark text-danger" *ngIf="error">
        <p >{{ error }}</p>
    </div>

  <div class="container d-flex align-items-center justify-content-center" *ngIf="isLoading" style="height: 600px;">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm, registerForm.value)" *ngIf="!isLoading">
    <div class="container">
      <div class="forIam">
        <label for="category">author/investor</label> <br>
      <select name="category" id="category" ngModel #category="ngModel" required>
         <option selected disabled>I am an?</option>
         <option>author</option>
         <option>investor</option>
      </select>
      <p class="IamValidation text-danger" *ngIf="!category.valid && category.touched">Required</p>
      </div><br>

      <div class="forCountry">
        <label for="country">country</label><br>
      <select name="country" id="country" ngModel #country="ngModel" required>
         <option selected disabled>I am from?</option>
         <option value="{{country.code}}" *ngFor="let country of IamFrom">{{country.name}}</option>
      </select>
      <p class="countryValidation text-danger" *ngIf="!country.valid && country.touched">Required</p>
      </div>
   <br>

  <div class="forEmail">
    <label for="email">Email</label><br>
  <input type="text" name="email" id="email" ngModel #email="ngModel" required><br><br>
  <p class="emailValidation text-danger" *ngIf="!email.valid && email.touched">Required</p>
  </div>

  <div class="forPassword">
    <label for="password">password</label><br>
  <input [type]="changetype?'password':'text'" name="password" id="password" ngModel #password="ngModel" required minlength="7"><br><br>
  <span class="eyeicon" (click)="viewPass()"><i [ngClass]="visible?'bi bi-eye-slash':'bi bi-eye'"></i></span>
  <p class="emailValidation text-danger" *ngIf="!password.valid && password.touched">Required</p>
  </div>


  <hr class="new1">

    <div class="checkbox">
     <input type="checkbox"  id="agree" name="agree" ngModel #AgreeTermsConditions="ngModel" required>
     <label for="agree" class="btn btn-secondary">I agree terms &<br> conditions(click)</label>
  </div><br><br>

  <div class="buttons">
  <button type="submit" class="submit-btn" [disabled]="!registerForm.valid">Sign Up</button>
  <button type="button" class="switching-btn" (click)="onSwitchMode()">Switch to login</button>
  </div>

    </div>
  </form>
</div>


<app-login *ngIf="isLoginMode"></app-login>
