


  <div class="container">

<div class="videoPlayer">
<div class="video">
  <iframe [src]="urlSafe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
  <div class="buttons">
    <li class="btn btn-secondary" (click)="videoBtn()">Motivational video 1</li>
    <li class="btn btn-success" (click)="videoBtn1()">Motivational video 2</li>
    <li class="btn btn-secondary" (click)="videoBtn2()">Motivational video 3</li>
    <li class="btn btn-success" (click)="videoBtn3()">Motivational video 4</li>
    <li class="btn btn-secondary" (click)="videoBtn4()">Motivational video 5</li>
  </div>
  </div>

