
<div class="container1">
  <div class="container me-auto">

    <div class="forPicture">
      <img class="profile" src="assets/images/profile.jpg" alt="profile">
    <h3 class="text-center d-flex justify-content-center"><p class="text-dark">USER:</p>{{username}}</h3><hr>
    <p class="text-center mb-5">Junior Front-end Web developer</p>
    </div>

    <div class="profileImgs">
      <a  href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=DmwnWrRtsffTnnpRwnRjKVQQFKKKBnkTpQZjpCMdmWzlxZTWmhtxvCnCmcZTjjfLshKtBRVTPLHl" target="_blank"><img src="assets/images/gmail.svg" alt="gmail"></a>
      <a  href="https://www.linkedin.com/in/tato-sarjveladze-041415271/" target="_blank"><img src="assets/images/linkedin.svg" alt="linkedin"></a>
      <a  href="https://github.com/Tato2002" target="_blank"><img class="githubImg" src="assets/images/github.png" alt="github"></a>
    </div><hr>
</div>
</div>
