
<div class="container1">
  <div class="container me-auto">

    <div class="forPicture">
      <img class="profile" src="/src/assets/myprofile.jpg" alt="profile">
    <h3 class="text-center">Tato Sarjveladze</h3>
    <p class="text-center mb-5">Junior Front-end Web developer</p>
    </div>

    <div class="profileImgs">
      <a  href=""><img src="/src/assets/gmail.png" alt="gmail"></a>
      <a  href="https://www.linkedin.com/in/tato-sarjveladze-041415271/" target="_blank"><img src="/src/assets/linkedin.png" alt="linkedin"></a>
      <a  href="https://github.com/Tato2002" target="_blank"><img class="githubImg" src="/src/assets/github.png" alt="github"></a>
    </div><hr>

<div class="footer">
  <span class="aboutMe">
      <img src="/src/assets/aboutme.png" alt=""><br>
      <a class="text-center">About Me</a>
      <p>My name is Tato Sarjveladze and I am a student at the Batumi Shota Rustaveli State University majoring in International Affairs and alongside with that I am a student at the IT Step Academy pursuing Front-end Web Development.</p>
  </span>

  <span class="myProject">
      <img src="/src/assets/project.png" alt=""><br>
      <a class="text-center">My Project</a>
  </span>

  <span class="chat">
      <img src="/src/assets/chat.png" alt=""><br>
      <a class="text-center">Chat</a>
  </span>
</div>
</div>
</div>
