<div class="container-fluid">
  <form (submit)="submit($event, submitInfo)" #submitInfo="ngForm">

    <label for="email">Email</label><br>
      <input type="text" name="email" id="email" placeholder="IdeaPlatform0@gmail.com" [(ngModel)]="email"><br><br>

     <div class="forPass">
      <label for="password">Password</label><br>
      <input [type]="changetype?'password':'text'" id="password" placeholder="dg************32!" name="password" [(ngModel)]="password"><br><br>
      <span class="eyeicon" (click)="viewPass()"><i [ngClass]="visible?'bi bi-eye-slash':'bi bi-eye'"></i></span>
     </div>


      <input type="submit" (click)="login()" value="Log In">

      <div class="mt-3">
        <a routerLink="../registration" class="text-warning">Not registered yet? <span class="text-success">Register</span></a><br>
        <!-- <a class="text-primary">Forgot Password?</a> -->
      </div>
  </form>
</div>



