@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
.container-fluid {
  background-image: url('https://static.wixstatic.com/media/fe4a5d_231f0b4d187d4684a7f5cc559262b6ca~mv2.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 100px 0px;
}

@media only screen and (max-width:1045px){
  .container-fluid {
    background-size: cover;
  }
}

div a{
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
  border-bottom: 2px solid grey;
}

form {
  background-color: rgba(0, 0, 0, 0.586);
  padding: 10px;
  border-radius: 12px;

  background-size: cover;
  text-align: center;
  align-items: center;
  font-size: 20px;
  width: 300px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 90px;
}


input[type="text"],input[type="password"] {
  font-size: 17px;
    width: 240px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
}

label {
  text-shadow: 2px 2px 2px black;
}

input[type="submit"] {
    width: 80px;
    height: 40px;
    font-size: 15px;
    color: ghostwhite;
    border-radius: 12px;
    background-color: rgb(0, 55, 183, 0.5);
    border: none;
}
input[type="submit"]:hover {
    color: whitesmoke;
    font-weight: bolder;
    background-color: royalblue;
    border-radius: 22px;
    font-size: 17px;
     width: 90px;
    height: 40px;
    transition: 1s;
}

.forPass {
  position: relative;
 }

 .eyeicon {
  position: absolute;
  right: 42px;
    top: 44px;
  color: black;
 }

