main {
  width: 85%;
  margin: auto;
  margin-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}

h1 {
  text-shadow: 2px 2px 2px black;
}

main .container {
  padding: 10px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.679);
  margin-bottom: 40px;
  color: white;
  border-radius: 12px;
  font-size: 20px;
}
main .container div a {
font-weight: 900;
 color: rgb(42, 165, 163);
 font-size: 25px;
 background-color: black;
 padding: 0px 12px;
 border-radius: 50%;
 float: left;
}


.carousel-wrapper {
  margin: auto;
  margin-top: 90px;
  width: 500px;
  height: 300px;
  z-index: -9;
}
.carousel-wrapper img {
  width: 100%;
  z-index: -9;
}
ngb-carousel {
  background-color: rgba(105, 90, 205, 0.132);
  border-bottom: 1px solid white;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 120px 0px;
}

@media only screen and (max-width:1400px){
  ngb-carousel{
    background-size: cover;
  }
}


@media only screen and (max-width:500px) {
  .carousel-wrapper {
    width: 270px;
    height: 180px;
  }
}

