/* You can add global styles to this file, and also import other style files */
@media only screen and (min-device-width: 200px){
  body {
  background-image: url("../src/assets/pukipu2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: monospace;
  color: ghostwhite;
  text-decoration: none;
  font-family: monospace;
}
}
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
